html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  margin-bottom: 20px;
}

.navigation {
  text-align: center;
}

.navigation li {
  display: inline;
  margin: 0 40px;
}

.navigation li a {
  font-size: 22px;
}

.navigation li a:hover {
  color: rgb(215, 215, 66);
}
