.navigation {
  border: solid 2px rgb(137, 83, 137);
  text-align: center;
}

.navigation li {
  display: inline;
  margin: 0 40px;
}

.navigation li a {
  font-size: 22px;
  color: black;
}

.navigation li a:hover {
  color: yellowgreen;
}
